<div>
    <div class="review-card">
        {{!-- <ul class="review-post">
            <li>{{reviews_content}}</li>
        </ul> --}}
        <div>{{reviews_content}}</div>
        <p>it works</p>
    </div>
</div>