<div>
    <div class="tutor-card">
        <button class="tutor-name get-reviews" id="tutor-btn" tutor-id={{id}}> {{tutors_name}} </button>
        <div class="tutor-ratings"> {{ratings}} </div>
    </div>
</div>

