<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Datty</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <h1>Tutor Datty</h1>
        <div id="rightnav">

            <input onclick="window.location.href='http://localhost:3001/login';" class="btn rightnav" id="login-btn"
                type="button" value="{{#if loggedIn}}Homepage{{else}}Homepage{{/if}}">
            <input onclick="window.location.href='http://localhost:3001/';" class="btn rightnav" id="make-review"
                type="button" value="Make a Review">
            <input class="rightnav" id="searchbar" type="text" placeholder="Search tutor here">
            <input class="btn rightnav" id="logout-btn" type="button" value="Logout">
            {{#if loggedIn}}
            <input onclick="window.location.href='http://localhost:3001/reviews';" class="btn rightnav" id="reviews"
                type="button" value="Reviews">
            {{else}}
            {{/if}}
            <input onclick="window.location.href='http://localhost:3001/chat';" class="btn rightnav chat-button"
                id="chat-btn" type="button" value="ChatGPT">
        </div>
    </nav>

    <main>
        {{{body}}}
    </main>

    <script src="/js/logout.js"></script>
</body>

</html>