<div class="column">
    <form class="chat-form" id="chat-form">
        <div>
            <h3>ChatGPT</h3>
        </div>

        <div>
            <label for="user-query">{{chatUsername}}</label>
            <input type="text" id="user-query" placeholder="Enter your question" data-user-query />
        </div>

        <div>
            <label for="chatGPT-answer">ChatGPT</label>
            <div id="chatGPT-answer">
                {{#if responseData}}
                    <p>{{responseData.choices.[0].text}}</p>
                {{/if}}
            </div>
        </div>

        <div>
            <button type="submit" class="button" id="submit-btn">Submit</button>
        </div>

    </form>

<script src="/js/chat.js"></script>
</div>
