<section class="tutor-card">
<h1>Tutors</h1>

{{#each tutors as |tutors|}}
{{> tutor-details}}
{{/each}}

<script src="./js/login.js"></script>
</section>


{{!-- We need to render the reviews and tutors in our routes in order that I can do the above.  --}}
=======
<script src="/js/login.js"></script>
