<div class="card-container">
    <section class="tutor-container">
        <h1>Tutors</h1>

        {{#each tutors as |tutors|}}
        {{> tutor-details}}
        {{/each}}


    </section>
    <section class="review-container">
        <h2 id="review-header">Reviews</h2>
        <h4>{{reviews.rating}} out of 5 from {{reviews.numberOfReviews}} reviews</h4>
        {{!-- listing the values of content (tutors rating, users name, and date entered will added at a later time)
        --}}
        {{#each reviews as |reviews|}}
        {{> review_details}}
        {{/each}}
</div>
=======
        <script src="./js/login.js"></script>
        <script src="/js/tutor-reviews.js"></script>
        <script src="/js/search.js"></script>
    </section>
</div>
