<section class="tutor-container">
    <h1>Tutors</h1>

    {{#each tutors as |tutors|}}
    {{> tutor-details}}
    {{#if tutor_name}}
    {{}}
    {{/each}}


</section>
<section>
    <h2>Reviews</h2>
        {{!-- listing the values of content (tutors rating, users name, and date entered will added at a later time)
        --}}
        {{#each reviews as |reviews|}}
        {{> review-details}}
        {{/each}}
    <script src="./js/login.js"></script>
</section>

{{!-- We need to render the reviews and tutors in our routes in order that I can do the above. --}}
=======
