<form action="/api/reviews" method="post">
<label for="tutors">Choose your tutor</label>
<input type="range" name="tutors" id="tutors">
<label for="review">Make a review</label>
<input type="text" name="review" id="review">
</form>