<div>
    <ul class="review-card">
        {{!-- listing the values of content (tutors rating, users name, and date entered will added at a later time)
        --}}
        {{#each reviews as |reviews|}}
        <li>{{this.reviews_content}} </li>
        {{/each}}
    </ul>
</div><ul class="review-card">
    {{#each reviews as |review|}}
    <li>{{review.reviews_content}}</li>
    {{/each}}
</ul>