<div>
    <ul class="review-card">
        {{!-- listing the values of tutors rating, users name, content, and date entered --}}
        {{#each Reviews}}
        <li>{{this.tutors.rating}} - {{this.users}} - {{this.reviews_content}} - {{this.date}}</li>
        {{/each}}
    </ul>
</div>