body {
    background-color: rgb(85, 141, 141);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav h1 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 35px;
    color: rgb(13, 22, 22);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
}
.btn{
    background-color: rgb(78, 54, 24);
    padding: 15px;
    color: rgb(78, 190, 190);
}
.rightnav {
    padding: 15px;
    color: rgb(78, 190, 190);
    margin: 7px;
}

#homepage {
    display: flex;
    justify-content: space-between;
}

#homepage img{
    margin: 2.5%;
}

#leftside p {
    margin: 0 0 5% 0;
    text-align: center;
}

#leftside {
    width: 50%;
}

#login-signup {
    display: flex;
    justify-content: space-around;
    min-width: 50%;
    margin-top: 10%;
}

#login {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    padding: 5%;
    margin-bottom: 20%;
}

#login label {
    margin: 4px 9px 4px 0;
}
#login input {
    margin: 4px 9px 4px 0;
    padding: 5px;
}
#signup label {
    margin: 4px 9px 4px 0;
}
#signup input {
    margin: 4px 9px 4px 0;
    padding: 5px;
}

#signup {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    padding: 5%;
    margin-bottom: 20%;
}

#chatGPT-answer {
    padding-left: 0px;
    margin-left: 100px;
    background-color: white;
    height: 300px;
}

.tutor-container {
    border: solid 6px;
    margin: 10%;
    width: 30%;
    height: 350px;
    overflow: scroll;
}

.review-container {
    border: solid 6px;
    margin: 10%;
    width: 30%;
    height: 350px;
    overflow: scroll;
}

.tutor-card {
    margin: 5%;
    
}

.tutor-name {
    width: 100%;
    font-size: 20px;
}

.card-container {
    display: flex;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.review-container {
    background-color: white;
}

.review-content {
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 15px 0px 15px 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#review-header {
    border-top: solid;
    border-bottom: solid;
    background-color:  rgb(120, 180, 180);
}

